

h1 {
	color: #6c0606;
	background-color: #b50faa;
	
}
body {
	background-color: #dcdf7b;
	color: #26545b;
	font-size: 22px;
}


h4 {
	color: #821ea6;
	font-size: 50px;
	background-color: #84bd1d;
}